# Database URL used by the the ORM
DATABASE_URL="sqlite:///database.db"

# JWT encode/decode key
SECRET_KEY='your-secret-key'

# JWT algorithm
ALGORITHM='HS256'

# Token expiration in days
ACCESS_TOKEN_EXPIRE_DAYS=7
