alembic
annotated-types
anyio
bcrypt
certifi
click
colorama
coverage
dnspython
email_validator
factory-boy
Faker
fastapi
freezegun
greenlet
h11
httpcore
httpx
idna
iniconfig
Mako
MarkupSafe
mslex
packaging
passlib
pluggy
psutil
pydantic
pydantic-settings
pydantic_core
PyJWT
pytest
pytest-cov
python-dateutil
python-dotenv
python-multipart
ruff
six
sniffio
SQLAlchemy
starlette
taskipy
tomli
typing_extensions
tzdata
uvicorn
